@model Participante

<!DOCTYPE html>
<html>
<head>
    <title>¡Felicitaciones!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title">¡Felicitaciones @Model.NickName!</h2>
                        <p class="card-text">¡Eres un ganador!</p>
                        <p class="card-text">Tu puntaje es: @Model.Puntaje</p>
                        <a href="#" class="btn btn-primary">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
