@model UltimateBrain.Models.Participante

@{
    ViewData["Title"] = "Create";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h2 class=""><b>Rankig mundial</b> </h2>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <h1>Create</h1>

                        <h4>Participante</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="NickName" class="control-label"></label>
                                        <input asp-for="NickName" class="form-control" />
                                        <span asp-validation-for="NickName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Puntaje" class="control-label"></label>
                                        <input asp-for="Puntaje" class="form-control" />
                                        <span asp-validation-for="Puntaje" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Id" class="control-label"></label>
                                        <input asp-for="Id" class="form-control" />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>

                        @section Scripts {
                            @{
                                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                            }
                        }


                    </div>

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>





