@model IEnumerable<UltimateBrain.Models.Participante>

@{
    ViewData["Title"] = "Index";
}

<div class="contenedor-titulo">
    <h1 class="titulo-participante">Rankig mundial</h1>
</div>

<table class="table content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntaje)
            </td>

        </tr>
}
    </tbody>
</table>
